include LICENSE
include README.rst
# azure-pipelines.yaml
# include pyproject.toml

include imagecodecs/_imagecodecs.c
include imagecodecs/_imagecodecs_lite.c
include imagecodecs/_jpeg12.c
include imagecodecs/_jpegls.c
include imagecodecs/_zfp.c

include imagecodecs/_imagecodecs.pyx
include imagecodecs/_imagecodecs_lite.pyx
include imagecodecs/_jpeg12.pyx
include imagecodecs/_jpegls.pyx
include imagecodecs/_zfp.pyx

include imagecodecs/imagecodecs.c
include imagecodecs/imagecodecs.h

include imagecodecs/jpeg_sof3.cpp
include imagecodecs/jpeg_sof3.h

include imagecodecs/opj_color.cpp
include imagecodecs/opj_color.h

include imagecodecs/licenses/*

include imagecodecs/patches/*

include bitshuffle-0.3.5/*
include liblzf-3.6/*

include tests/*.py
include tests/*.txt
include tests/*.bin
include tests/*.npy
include tests/*.zfp
include tests/*.png
include tests/*.jpg
include tests/*.jxr
include tests/*.j2k
include tests/*.jp2
include tests/*.jls
include tests/*.tif
include tests/*.webp
include tests/libaec/121B2TestData/*.txt
include tests/libaec/121B2TestData/AllOptions/*.*
# include tests/libaec/121B2TestData/ExtendedParameters/*.*

exclude tests/33792x79872.jpg
exclude tests/jpegxr.czi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *-
recursive-exclude * *.html
