include LICENSE
include README.rst
include CHANGES.rst
include pyproject.toml

include imagecodecs/py.typed

include imagecodecs/*.c
exclude imagecodecs/_*.c

include imagecodecs/*.h
include imagecodecs/*.cpp
include imagecodecs/*.pyi
include imagecodecs/*.pyx
include imagecodecs/*.pxd
include imagecodecs/*.pxi

include imagecodecs/licenses/*
include imagecodecs/patches/*

include 3rdparty/*
include 3rdparty/*/*

include tests/*.py
include tests/*.txt
include tests/*.bin
include tests/*.npy
include tests/*.zfp
include tests/*.png
include tests/*.icc
include tests/*.jpg
include tests/*.jxr
include tests/*.j2k
include tests/*.jp2
include tests/*.jls
include tests/*.jxl
include tests/*.tif
include tests/*.hdr
include tests/*.uhdr
include tests/*.apng
include tests/*.avif
include tests/*.webp
include tests/*.br
include tests/tiff/*.tif
include tests/ljpeg/*.ljp
include tests/lerc/*.*
include tests/libaec/121B2TestData/*.txt
include tests/libaec/121B2TestData/AllOptions/*.*

# files too large or not licensed
exclude tests/libaec/121B2TestData/ExtendedParameters/*.*
exclude tests/tiff/gray.movie.*.tif
exclude tests/ljpeg/dcm*.ljp
exclude tests/ljpeg/2ch.ljp
exclude tests/ljpeg/pvrg.ljp
exclude tests/bcn/*.dds
exclude tests/33792x79872.jpg
exclude tests/jpegxr.czi
exclude tests/jetraw.bin

exclude *.cmd
exclude build_utils/*

recursive-exclude doc *
recursive-exclude docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *-
recursive-exclude * *.html
recursive-exclude * *Copy*.*
